{% extends 'base.html' %}
{% block new_content %}
<div class="container">
<div class="jumbotron text-center op_over">
    <h1>Air Travel</h1> 
    <h5><p style="color:rgb(0, 0, 0);"><b>We specialize in Adventure</b></p> </h5>
    <form>
      <div class="input-group">
        <input type="email" class="form-control" size="50" placeholder="Email Address" required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger">Subscribe</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}