{% extends 'base.html' %}
{% block new_content %}
<div class="container">
{% if qs %}
    {% for i in qs %}
    {% if i.username != session['username'] %}
    <article class="media content-section">
    <table cellpadding="5" >
      <tr>
        <td style="padding:0 15px;"> <h2> <a class="text-body font-weight-light font-italic" href="/user/{{ i.id }}">{{ i.username }} </a> </h2></td>
        <td style="padding:0 15px;"> <a href="/user/update_status/{{ i.id }}" class="btn btn-outline-secondary">Admin Status</a></td>
        <td style="padding:0 15px;"> <a href="/user/delete/{{ i.id }}" class="btn btn-outline-danger">Delete</a></td>
      </tr>
    </table>
    </article>
    {% endif %}
    {% endfor %}
{% endif %}
</div>
{% endblock %}
